version: "3"

services:
  mysql:
    image: mysql
#    container_name: mysql
#    command: mysqld --character-set-server=utf8 --collation-server=utf8_unicode_ci
#    restart: always
    environment:
      - MYSQL_DATABASE=girl
      - MYSQL_ROOT_PASSWORD=root
    ports:
      - "3307:3306"
    volumes:
      - "./mysql:/var/lib/mysql"

  girl:
    build: ../
    ports:
          - "8088:8088"
    depends_on:
      - mysql
    volumes:
      - ./maven:/root/.m2